@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	font-family: 'Poppins';
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply font-bold py-3 px-5 rounded-2xl duration-1000 w-32;
}

.btn-red {
	@apply bg-myRed text-white;
}

.btn-red:hover {
	@apply bg-transparent border-myRed text-myRed;
}
