.landing-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.landing {
	width: 1224px;
}

.landing-image {
	position: relative;
	top: 50px;
	width: 720px;
	height: 720px;
	min-width: 600px;
	min-height: 600px;
	background-size: 720px;
	background-position: center;
	background-repeat: no-repeat;
}

.landing-text {
	position: absolute;
	left: 620px;
	top: 210px;
	width: 624px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 50px;
	background-color: #1f2937;
	color: #fff;
	border-radius: 20px;
}

.landing-p {
	margin-top: 20px;
	line-height: 25px;
}
