.card-wrapper {
	width: 500px;
	height: 600px;
	/* box-shadow: 0 70px 63px -60px #000000; */
	color: #000;
}

.card {
	width: 500px;
	height: 500px;
	transition: background-size 3s;
	border-radius: 10px;
	background-size: 500px;
	background-position: center;
}

.card:hover {
	background-size: 800px;
}

.card-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80px;
	margin-top: 10px;
}

.card-name {
	font-weight: 600;
	font-size: 30px;
}

.card-price {
	font-weight: 400;
	font-size: 20px;
}
