.footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #000;
	color: #fff;
}

.footer-text {
	font-size: 16px;
	position: absolute;
	left: 50px;
}

.footer-icons {
	font-size: 25px;
	display: flex;
	gap: 25px;
	position: absolute;
	right: 25px;
}
