.footer {
	top: 1vh;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	height: 50px;
	background-color: #1f2937;
	color: #fff;
}

.footer-text {
	font-size: 12px;
	position: absolute;
	left: 50px;
}

.footer-icons {
	font-size: 20px;
	display: flex;
	gap: 20px;
	position: absolute;
	right: 25px;
}
