.bar-brush-icon i {
	font-size: 25px;
	left: 25px;
	color: #a238ff;
	text-shadow: 1px 0px 20px #7d2bc4;
}

.bar-heading {
	position: absolute;
	left: 60px;
	font-size: 18px;
}

.bar-heading span {
	color: #c684ff;
}

.bar-bag-icon {
	position: absolute;
	font-size: 25px;
	right: 150px;
}
.bar-bag-icon i {
	color: #fff;
}
#navbar-shp-num {
	font-size: 12px;
	color: #a238ff;
	position: absolute;
	top: 19px;
	left: 8px;
}

.bar-user-icon {
	position: absolute;
	font-size: 25px;
	right: 90px;
	color: #f9004d;
}

.bar-login-text {
	position: absolute;
	right: 25px;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
}

.bar-login-text:hover {
	color: rgb(0, 248, 0);
}
